# Build outputs
bin/
obj/

# Visual Studio files
.vs/
.vscode/

# User specific files
*.user
*.suo
*.log

# Local database files
*.mdf
*.ldf

# Environment specific settings 
appsettings.Development.json
